<% include ./partials/header %>
    <h1 class="text-center">
        <%= err.status || "500" %>: <%= "Encounted an unexpected error! We apologize for the inconvenience, but will surely fix the issue!" %>
    </h1>
<% include ./partials/footer %>